<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    
       <!-- /* Conem style */-->
    <link href="../../../resources/css/conem/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/bootstrap.css}" />
    <link href="../../../resources/css/conem/style.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/style.css}" />
    <link href="../../../resources/css/conem/colors.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/colors.css}" />
    <link href="../../../resources/css/conem/versions.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/versions.css}" />
    <link href="../../../resources/css/conem/responsive.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/responsive.css}" />
    <link href="../../../resources/css/conem/building.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/building.css}" />
    
    
    
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../../resources/js/validation.js" th:src="@{/resources/js/validation.js}"></script>
    <script src="../../../resources/js/validation.js" th:src="@{/resources/js/listings.js}" ></script>
       
</head>
<body class="building_version" data-spy="scroll" data-target=".header" onLoad="onLoadEmployeeDataList()">

	<div th:if="${admin}">
		<div th:replace="~{fragments/header_staff :: header}">header</div>
	</div>
	<div th:unless="${admin}">
  		<div th:replace="~{fragments/header_volunteer :: header}">header</div>
	</div>	
	
	<div id="contact" class="section wb">
         <div class="container">
            <div class="section-title row text-center">
               <div class="col-md-8 col-md-offset-2">
                  <h3>List of Volunteers</h3>
                  <p  class="lead" th:text="${message}"></p>
               </div>
               <!-- end col -->
            </div>
            <!-- end title -->
            <div class="row">
               <form id="contactform" class="row" action="/employeeAdd" name="contactform" method="post" enctype="multipart/form-data">
               <fieldset class="row-fluid">
               <div class="col-lg-4 col-md-4">
                  <div class="contant-info">
                     <ul class="item-display-block">
                        <li>
                           <div class="info-content">
                             	<button type="submit" id="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block" th:name="action" th:value="save_button">Save</button>
                                <button type="submit" id="submit2" class="btn btn-light btn-radius btn-brd grd1 btn-block" th:name="action" th:value="cancel_button">Cancel</button>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
               
               <div class="col-md-8">
                  <div class="contact_form">
                     <div id="message"></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="branchId" id="branchId" class="form-control" placeholder="Station ID" value="1" readonly="true" data-toggle="tooltip" title="ID Sucursal">
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="branchName" id="branchName" class="form-control" placeholder="Station Name" value="Main Station" readonly="true" data-toggle="tooltip" title="Nombre Sucursal">
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="id" id="id" class="form-control" placeholder="Volunteer Id" th:value="${employee_id}" readonly="true" data-toggle="tooltip" title="ID">
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="name" id="name" class="form-control" placeholder="Name" th:value="${employee_name}" onkeypress="return validOnlyLetters(event)"  maxlength="50" data-toggle="tooltip" title="Nombre(s)">
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Surname" th:value="${employee_last_name}" onkeypress="return validOnlyLetters(event)"  maxlength="50" data-toggle="tooltip" title="Apellidos">
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="eMail" id="eMail" class="form-control" placeholder="Email" th:value="${employee_email}"  readonly="true" maxlength="50" data-toggle="tooltip" title="Email">
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                             
 						      
 						       <select  name="bloodType" data-toggle="tooltip" title="Blood Type">
								  <option value="A">A</option>
								  <option value="B" selected>B</option>
							  </select>
							  
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="knownDisease" id="employee_disease" class="form-control" placeholder="Known Diseases" th:value="${employee_disease}" onkeypress="return validOnlyLetters(event)"  maxlength="50">
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" data-toggle="tooltip" title="Status">
                               <select  name="status" data-toggle="tooltip" title="Volunteer Status">
								  <option value="0">Inactive</option>
								  <option value="1" selected>Active</option>
							  </select>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                             						      
 						      <select  name="type" data-toggle="tooltip" title="Volunteer type">
								  <option value="0">Crew Commander</option>
								  <option value="1" selected>Driver</option>
								  <option value="2">Back Seat</option>
							  </select>
 						      
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="comments" id="employee_coments" class="form-control" placeholder="Comentarios" th:value="${employee_coments}" onkeypress="return validNumbersLetters(event)"  maxlength="100" data-toggle="tooltip" title="Comentatios">
                           </div>
                           
                  </div>
               </div>
             	</fieldset>
             </form>
            </div><!-- end row -->
         </div><!-- end container -->
      </div><!-- end section -->
    
    <script>
		$(document).ready(function(){
		  $('[data-toggle="tooltip"]').tooltip();   
		});
	</script>


</body>
</html>