<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    
       <!-- /* Conem style */-->
    <link href="../../../resources/css/conem/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/bootstrap.css}" />
    <link href="../../../resources/css/conem/style.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/style.css}" />
    <link href="../../../resources/css/conem/colors.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/colors.css}" />
    <link href="../../../resources/css/conem/versions.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/versions.css}" />
    <link href="../../../resources/css/conem/responsive.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/responsive.css}" />
    <link href="../../../resources/css/conem/building.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/building.css}" />
    
    <link href="../../../resources/css/conem/building.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/carousel.css}" />
    
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    
    
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    
    <script type="text/javascript">
    
    $('section.awSlider .carousel').carousel({
    	pause: "hover",
      interval: 2000
    });

    var startImage = $('section.awSlider .item.active > img').attr('src');
    $('section.awSlider').append('<img src="' + startImage + '">');

    $('section.awSlider .carousel').on('slid.bs.carousel', function () {
     var bscn = $(this).find('.item.active > img').attr('src');
    	$('section.awSlider > img').attr('src',bscn);
    });


    /* 
    Philips ambilight tv
    Üzerine gleince duruyor slide
    */
    
    
    </script>
</head>
<body class="building_version" data-spy="scroll" data-target=".header">
	<div th:replace="~{fragments/header_staff :: header}">header</div>
	
	
						<section class="awSlider">
					  		<div  class="carousel slide" data-ride="carousel">
						    <!-- Indicators -->
						    <ol class="carousel-indicators">
						      <li data-target=".carousel" data-slide-to="0" class="active"></li>
						      <li data-target=".carousel" data-slide-to="1"></li>
						      <li data-target=".carousel" data-slide-to="2"></li>
						      <li data-target=".carousel" data-slide-to="3"></li>
						    </ol>
					
						    <!-- Wrapper for slides -->
						    <div class="carousel-inner" role="listbox">
						      <div class="item active">
						        <img src="http://www.adobewordpress.com/wp-content/uploads/2014/02/wallpaper-thumb-941.jpg">
						        <div class="carousel-caption">Görsel #1</div>
						      </div>
						      <div class="item">
						        <img src="http://www.adobewordpress.com/wp-content/uploads/2014/02/wallpaper-thumb-101.jpg">
						        <div class="carousel-caption">Görsel #2</div>
						      </div>
						      <div class="item">
						        <img src="http://www.adobewordpress.com/wp-content/uploads/2014/02/wallpaper-thumb-1051.jpg">
						        <div class="carousel-caption">Görsel #3</div>
						      </div>
						      <div class="item">
						        <img src="http://www.adobewordpress.com/wp-content/uploads/2013/07/wallpaper-thumb-74.jpg">
						        <div class="carousel-caption">Görsel #4</div>
						      </div>
						    </div>
						
						    <!-- Controls -->
						    <a class="left carousel-control" href=".carousel" role="button" data-slide="prev">
						      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						      <span class="sr-only">Geri</span>
						    </a>
						    <a class="right carousel-control" href=".carousel" role="button" data-slide="next">
						      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						      <span class="sr-only">İleri</span>
						    </a>
					  </div>
					</section>



					<section class="awSlider">
						<div  class="carousel slide" data-ride="carousel">
							<!-- Indicators -->
							<ol class="carousel-indicators">
						  		<li th:each="user : ${images}"  data-target=".carousel" data-slide-to="${user.idimages==1}" th:class="${user.idimages==1} ? 'active' : ''"></li>
							</ol>
						
						
							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox" >
								
								  <!-- IF CUSTOMER IS ANONYMOUS -->
									  <div th:each="user : ${images}" th:class="${user.idimages==1} ? 'item active' : 'item'">
				        					<img  th:src="@{'data:image/jpeg;base64,'+${user.generateBase64Image()}}" />
				        					<div class="carousel-caption" th:text=${user.idimages} ></div>
				      				  </div>
							</div>
						
							<!-- Controls -->
						    <a class="left carousel-control" href=".carousel" role="button" data-slide="prev">
						      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						      <span class="sr-only">Geri</span>
						    </a>
						    <a class="right carousel-control" href=".carousel" role="button" data-slide="next">
						      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						      <span class="sr-only">İleri</span>
						    </a>
					  	</div>
					</section>

		
	
	  
	
	      		 


	    
    
    


</body>
</html>