<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/conem/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/bootstrap.css}" />
    
    <!-- /* Conem style */-->
    <link href="../../../resources/css/conem/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/bootstrap.css}" />
    <link href="../../../resources/css/conem/style.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/style.css}" />
    <link href="../../../resources/css/conem/colors.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/colors.css}" />
    <link href="../../../resources/css/conem/versions.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/versions.css}" />
    <link href="../../../resources/css/conem/responsive.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/responsive.css}" />
    <link href="../../../resources/css/conem/building.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/building.css}" />
    <link href="../../../resources/css/conem/font-awesome.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/font-awesome.css}" />
    <link href="../../../resources/css/conem/font-awesome.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/font-awesome.min.css}" />
    
    <script src="../../../resources/js/modernizr-2.8.3-respond-1.4.2.min.js" th:src="@{/resources/js/modernizr-2.8.3-respond-1.4.2.min.js}"></script>
    
</head>
	<body>
		<header class="header header_style_01">
			<nav class="megamenu navbar navbar-default" data-spy="affix">
				<div class="container">
		            <div id="navbar" class="navbar-collapse collapse">
		            	<ul class="nav navbar-nav navbar-right">
		                		<li class="active"><a data-scroll href="#home">Principal</a></li>
		                    	<li><a data-scroll href="#about">Us<span class="hidden-xs">*</span></a></li>
		                       	<li><a data-scroll href="#services">Services</a></li>
		                       	<li><a data-scroll href="#projects">Our Projects</a></li>
		                       	<li><a data-scroll href="#contact">Contact Us</a></li>
		                       	<li><a id="idmenu" data-scroll >Internos</a></li>
		                </ul>
		           </div>
		    	</div><!-- Container -->
			</nav>
		 </header>		
	</body>
</html>