<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/conem/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/bootstrap.css}" />
    
    <!-- /* Conem style */-->
    <link href="../../../resources/css/conem/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/bootstrap.css}" />
    <link href="../../../resources/css/conem/style.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/style.css}" />
    <link href="../../../resources/css/conem/colors.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/colors.css}" />
    <link href="../../../resources/css/conem/versions.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/versions.css}" />
    <link href="../../../resources/css/conem/responsive.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/responsive.css}" />
    <link href="../../../resources/css/conem/building.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/building.css}" />
    <link href="../../../resources/css/conem/font-awesome.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/font-awesome.css}" />
    <link href="../../../resources/css/conem/font-awesome.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/conem/font-awesome.min.css}" />
    
</head>
	<body>
		<header class="header header_style_01">
			<nav class="megamenu navbar navbar-default" data-spy="affix">
		    	<div class="container">
		    		<div class="navbar-header">
		          		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		          		</button>
		          		<a class="navbar-brand" href="index.html"></a>
		       		</div>
		            
		            <div id="navbar" class="navbar-collapse collapse">
		            	<ul class="nav navbar-nav">
      							
						      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Staff<span class="caret"></span></a>
						        <ul class="dropdown-menu">
						             <li><a href="/volunteerSchedule">Select my availability</a></li>
						              <li><a href="/employeeAdd">Add Me as volunteer</a></li>
						        </ul>
						      </li>
						    
						      <li><a href="/logout">Salir</a></li>
						    </ul>
		           </div>
		    	</div><!-- Container -->
			</nav>
		 </header>		
	</body>
</html>